html,
body {
  height: 100%;
  background-color: #eff2fa;
  font-family: 'Comfortaa', sans-serif;
  font-size:14px;
}
pre {
  background: #eee;
  padding: 20px 0;
}

h1,h2,h3,.navbar-brand {
    font-family: 'Raleway', sans-serif;
}